.desktop {
  position: fixed;
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 5% 5%;
  touch-action: manipulation;
}

.icon {
  display: flex;
  flex-direction: column;
  font-family: "pixelated";
  font-size: 1rem;
  color: var(--fg_icons);
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 25vw;
  width: 27.5vw;
  cursor: pointer;
}

.icon.focus {
  border: 1px dotted black;
}

.icon img {
  height: 100%;
  width: auto;
}

.icon_text {
  width: 100%;
}

@media screen and (min-width: 800px) {
  .desktop {
    margin: 3% 3%;
  }

  .icon {
    height: 85px;
    width: 95px;
    font-size: 1rem;
  }
}
